body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.content {
  padding: 0 24px;
}

a {
	text-decoration: none;
}

.girando {
  animation: rotation 0.5s linear infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
